<div class="jumbotron">

    <h1>API AirlinePlus</h1>
    <p class="lead">API encargada de gestionar flujo de datos para aplicacion de reserva de vuelo, creado por MakeMeister</p>
    <p><a href="https://makemeister.wixsite.com/website" class="btn btn-primary btn-lg">Saber mas del equipo&raquo;</a></p>
</div>
<div class="row">
   <div class="col-md-6">
       <h2>Desarrollo</h2>
       <p>Esta API fue desarrollada en el transcurso del proyecto junto con su aplicacion web utilizando el entorno de trabajo ASP.NET Framework, para saber mas sobre el desarrollo y colaborar con
       el proyecto, acceder al repositorio</p>
       <p><a class="btn btn-default" href="https://github.com/sebadg34/ProyectoPlataformasII-WebApp">Repositorio &raquo;</a></p>
   </div>
   <div class="col-md-6">
       <h2>Contexto</h2>
       <p>Los estudiantes encargados del proyecto y la finalidad de este se encuentran dentro del marco de la institucion Universidad Catolica del Norte, Antofagasta, Chile</p>
       <p><a class="btn btn-default" href="https://https://www.ucn.cl/">Saber mas de la institución&raquo;</a></p>
   </div>
   
</div>
